body {
  background-color: #08164c;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}
canvas {
  border: 4px solid white;
  border-radius: 8px;
  background-color: #c0a5e8;
  position: relative;
  top: 25px;
}
.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 40px;
}
button {
  background-color: #c0a5e8;
  border: 2px solid;
  border-radius: 8px;
  border-color: #fff;
  font-family: inherit;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
  position: relative;
  top: 10px;
}
button:not(:last-child) {
  margin-right: 10px;
}
.messages {
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}
p {
  display: block;
  margin: 0;
  width: 100%;
  position: relative;
  top: 45px;
}
@media (max-width: 440px) {
  button {
    margin-top: 25px;
  }
  #up,
  #down {
    margin-left: 100%;
    margin-right: 100%;
  }
}
